<h1>{{title}}</h1>
<h2>My Heroes</h2>

<!--

    *ngFor = this class and its children is the master template
    let localHero of heroes
    localHero = local variable of heroes array
    it is similar to this in java
    for(Hero localHero: heroes) {
      //do something
    }


-->
<ul class="heroes">
  <li *ngFor="let localHero of heroes"
      [class.selected]="localHero === selectedHero"
      (click)="onSelect(localHero)"
  >
    <span class="badge">{{localHero.id}}</span> {{localHero.name}}
  </li>
</ul>
<!--
*ngIf is like
if(selectedHero!=null) {

}
-->
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} details!</h2>
  <div>
    <label>id:</label>{{selectedHero.id}}
    <div>
      <label>name: </label>
      <!-- placeholder = hint text-->
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </div>
  </div>
</div>

